.current-dashboard-container {
  height: calc(100vh - 60px);
}

.current-dashboard-header {
  grid-column: span 12;
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 10px;
  color: #666666;
  font-size: 20px;
  border-bottom: solid thin #eeeeee;
}

.dashboard-item-list {
  grid-column: span 12;
  grid-gap: 10px;
  padding: 10px;
  height: calc(100vh - 125px);
  overflow: auto;
}

.dashboard-item {
  border: solid thin #eeeeee;
  background: #ffffff;
}
