.current-dashboard-container {
  height: calc(100vh - 60px);
}

.current-dashboard-header {
  grid-column: span 12;
  height: 70px;
  border: solid thin;
}

.dashboard-item-list {
  border: solid thin;
  grid-column: span 12;
  max-height: calc(100% - 70px);
  overflow: auto;
}

.dashboard-item {
  border: solid thin;
}
