.dashboard-header {
  grid-column: span 2;
  border-right: solid thin #eeeeee;
  height: calc(100vh - 55px);
}

.dashboard-menu {
  height: 40%;
}

.dashboard-global-filters {
  height: 60%;
  overflow: auto;
}

.dashboard-content {
  grid-column: span 10;
  height: calc(100vh - 55px);
}
