<!-- dashboard container -->
<div class="app-container dashboard-container">
  <!-- dashboard header -->
  <div class="dashboard-header">
    <!-- dashboard menu -->
    <div class="dashboard-menu">
      <app-dashboard-menu-list
        [dashboardMenuList]="dashboardMenuList$ | async"
      ></app-dashboard-menu-list>
    </div>
    <!-- end of dashboard menu -->

    <!-- dashboard global filters -->
    <div class="dashboard-global-filters">
      Filters
    </div>
    <!-- end of dashboard global filters -->
  </div>
  <!-- end of dashboard header -->

  <!-- dashboard content -->
  <div class="dashboard-content">
    Content
  </div>
  <!-- end of dashboard content -->
</div>
<!-- end of dashboard container -->
