.dashboard-container {
}

.dashboard-header {
  grid-column: span 3;
  border-right: solid thin #eeeeee;
  background: #f8f9fa;
  height: calc(100vh - 55px);
}

.dashboard-menu {
  height: 30%;
}

.dashboard-global-filters {
  height: 70%;
  overflow: auto;
}

.dashboard-content {
  grid-column: span 9;
  height: calc(100vh - 55px);
}
